@page
@model IndexModel


<!DOCTYPE html>
<html>
<head>
    <link href=~/Style.css rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Witaj w kalkulatorze BMI!</h1>
    <P class="blocktext">
        Poproszę Cię o pewne dane na których podstawie obliczę Twoje BMI.
        BMI to wskaznik ,który zmierzy czy Twój stosunek wagi do wzrostu jest prawidłowy.
    </P>
    Aby kontynuować naciśnij 'Dalej'.
    <form method="post">
        <input type="submit" name="" value="Dalej" />
    </form>
</body>
</html>